
/*Designing the header*/
.bg-warning {
	color: white;
	padding: 15px;
}


/* The button on the header*/

#logout-btn{
	margin-top: -4%;
	margin-right: 5%;
}



section#about_list h2{
	padding: 50px;
}